---
layout: page
title: "Essays"
description: "2856 Tesseract"
---

{% for essay in paginator.essays %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ essay.title }}
        </h2>
        {% if essay.subtitle %}
        <h3 class="post-subtitle">
            {{ essay.subtitle }}
        </h3>
        {% endif %}

    </a>
    <p class="post-meta">Posted by {% if essay.author %}{{ essay.author }}{% else %}{{ essay.title }}{% endif %} on {{ essay.date | date: "%B %-d, %Y" }}</p>
</div>
{% endfor %}
